<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f4f2ec">
    <meta name="description" content="{{ .Site.Params.description }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="icon" href="{{ "images/favicon.png" | relURL }}">
    {{ $styles := resources.Get "css/site.css" | minify | fingerprint }}
    {{ $script := resources.Get "js/site.js" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
  </head>
  <body class="{{ block "body-class" . }}{{ end }}">
    <a class="skip-link" href="#main-content">Skip to content</a>
    {{ block "main" . }}{{ end }}
  </body>
</html>
